$basecolor: #ffffff;
$basecolor-black: #000;

$baseBackgound: #b163ff;
$baseHistoryBox: #397cff;
$baseChatBoxUser: #4dff0e;

.login {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15%;

  .box-form {
    margin: 0 auto;
    width: 70%;
    background: $basecolor;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex: 1 1 100%;
    align-items: stretch;
    justify-content: space-between;
    box-shadow: 0 0 20px 6px #090b6f85;
  }
  @media (max-width: 980px) {
    .box-form {
      flex-flow: wrap;
      text-align: center;
      align-content: center;
      align-items: center;
    }
  }
  .box-form div {
    height: auto;
  }
  .box-form .left {
    color: $basecolor;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/002/058/353/small_2x/colorful-abstract-background-free-vector.jpg");
    overflow: hidden;
  }
  .box-form .left .overlay {
    padding: 30px;
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0.2);
    overflow: hidden;
    box-sizing: border-box;
  }
  .box-form .left .overlay h1 {
    font-size: 10vmax;
    line-height: 1;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .box-form .left .overlay span p {
    margin-top: 30px;
    font-weight: 900;
  }
  .box-form .left .overlay span a {
    background: #3b5998;
    color: $basecolor;
    margin-top: 10px;
    padding: 14px 50px;
    border-radius: 100px;
    display: inline-block;
    box-shadow: 0 3px 6px 1px #042d4657;
  }
  .box-form .left .overlay span a:last-child {
    background: #1dcaff;
    margin-left: 30px;
  }
  .box-form .right {
    padding: 60px;
    overflow: hidden;
  }
  @media (max-width: 980px) {
    .box-form .right {
      width: 100%;
    }
  }
  .box-form .right h5 {
    font-size: 2vmax;
    line-height: 0;
  }
  .box-form .right p {
    font-size: 24px;
    color: #b0b3b9;
  }
  .box-form .right .inputs {
    overflow: hidden;
  }
  .box-form .right input {
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    font-size: 18px;
    border: none;
    outline: none;
    border-bottom: 2px solid #b0b3b9;
  }
  .box-form .right .remember-me--forget-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .box-form .right .remember-me--forget-password input {
    margin: 0;
    margin-right: 7px;
    width: auto;
  }
  .box-form .right button {
    color: $basecolor;
    font-size: 16px;
    padding: 12px 35px;
    border-radius: 50px;
    display: inline-block;
    border: 0;
    outline: 0;
    box-shadow: 0px 4px 20px 0px #49c628a6;
    background-image: linear-gradient(135deg, #70f570 10%, #49c628 100%);
  }

  label {
    display: block;
    position: relative;
    margin-left: 30px;
  }
}

.chatbox {
  * {
    box-sizing: border-box;
  }
  body {
    background-color: #abd9e9;
    font-family: Arial;
  }

  .close {
    text-decoration: unset;
    position: absolute;
    opacity: 0.6;
    color: $basecolor;
    margin: 0.5rem;
  }

  #container {
    width: 750px;
    height: 800px;
    background: #eff3f7;
    margin: 0 auto;
    font-size: 0;
    border-radius: 5px;
    overflow: hidden;
  }
  aside {
    width: 260px;
    height: 800px;
    background-color: #3b3e49;
    display: inline-block;
    font-size: 15px;
    vertical-align: top;
  }
  main {
    width: 490px;
    height: 800px;
    display: inline-block;
    font-size: 15px;
    vertical-align: top;
  }

  aside header {
    padding: 30px 20px;
  }
  aside input {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 50px 0 20px;
    background-color: #5e616a;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_search.png);
    background-repeat: no-repeat;
    background-position: 170px;
    background-size: 40px;
  }
  aside input::placeholder {
    color: #fff;
  }
  aside ul {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    overflow-y: scroll;
    height: 690px;
  }
  aside li {
    padding: 10px 0;
  }
  aside li:hover {
    background-color: #5e616a;
  }
  h2,
  h3 {
    margin: 0;
  }
  aside li img {
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 8px;
  }
  aside li div {
    display: inline-block;
    vertical-align: top;
    margin-top: 12px;
  }
  aside li h2 {
    font-size: 14px;
    color: #fff;
    font-weight: normal;
    margin-bottom: 5px;
  }
  aside li h3 {
    font-size: 12px;
    color: #7e818a;
    font-weight: normal;
  }

  .status {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 7px;
  }
  .green {
    background-color: #58b666;
  }
  .orange {
    background-color: #ff725d;
  }
  .blue {
    background-color: #6fbced;
    margin-right: 0;
    margin-left: 7px;
  }

  main header {
    height: 110px;
    padding: 30px 20px 30px 40px;
  }
  main header > * {
    display: inline-block;
    vertical-align: top;
  }
  main header img:first-child {
    border-radius: 50%;
  }
  main header img:last-child {
    width: 24px;
    margin-top: 8px;
  }
  main header div {
    margin-left: 10px;
    margin-right: 145px;
  }
  main header h2 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  main header h3 {
    font-size: 14px;
    font-weight: normal;
    color: #7e818a;
  }

  #chat {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    overflow-y: scroll;
    height: 535px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
  }
  #chat li {
    padding: 10px 30px;
  }
  #chat h2,
  #chat h3 {
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
  }
  #chat h3 {
    color: #bbb;
  }
  #chat .entete {
    margin-bottom: 5px;
  }
  #chat .message {
    padding: 20px;
    color: #fff;
    line-height: 25px;
    max-width: 90%;
    display: inline-block;
    text-align: left;
    border-radius: 5px;
  }
  #chat .me {
    text-align: right;
  }
  #chat .you .message {
    background-color: #58b666;
  }
  #chat .me .message {
    background-color: #6fbced;
  }
  #chat .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
  }
  #chat .you .triangle {
    border-color: transparent transparent #58b666 transparent;
    margin-left: 15px;
  }
  #chat .me .triangle {
    border-color: transparent transparent #6fbced transparent;
    margin-left: 375px;
  }

  main footer {
    height: 155px;
    padding: 20px 30px 10px 20px;
  }
  main footer textarea {
    resize: none;
    border: none;
    display: block;
    width: 100%;
    height: 80px;
    border-radius: 3px;
    padding: 20px;
    font-size: 13px;
    margin-bottom: 13px;
  }
  main footer textarea::placeholder {
    color: #ddd;
  }
  main footer img {
    height: 30px;
    cursor: pointer;
  }
  main footer a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #6fbced;
    vertical-align: top;
    margin-left: 333px;
    margin-top: 5px;
    display: inline-block;
  }

  img {
    width: 60px;
    height: 60px;
  }
}

.messagebutton {
  .border-main {
    border: #3b3e49;
  }
  .centerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;

    button {
      width: 12rem;
      height: 3rem;
      border-radius: 20em 40rem 20rem 40rem;
      background-color: $basecolor;
    }

    button:hover {
      background-color: rgb(255, 240, 35);
      color: #000;
      box-shadow: rgba(255, 240, 35, 0.4) 5px 5px,
        rgba(255, 240, 35, 0.3) 10px 10px, rgba(255, 240, 35, 0.2) 15px 15px,
        rgba(255, 240, 35, 0.1) 20px 20px, rgba(255, 240, 35, 0.05) 25px 25px;
    }
  }

  nav {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background-color: #ffdc17;
    padding: 5px 1rem 5px 1rem;
    border-radius: 300px;
    margin-top: 1.4rem;
    margin-left: 4rem;
    margin-right: 4rem;
    padding: 0;

    ul {
      list-style: none;
      overflow: hidden;
      padding-left: 2rem;
      padding-right: 2rem;

      .right-ul {
        float: right;
      }

      .left-ul {
        float: left;
      }

      a {
        text-decoration: unset;
        color: $basecolor-black;
      }

      a:hover {
        cursor: -webkit-grab;
        cursor: grab;
        color: $basecolor;
      }

      li {
        width: 3rem;
        height: 4rem;
        padding-right: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }
    }
  }
}

.chatboxadmin {
  #container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
  .left {
    height: 100%;
    width: 90%;
    margin-left: 5%;
    font-size: 36px;
    .barhistory {
      background: rgba($color: $baseBackgound, $alpha: 0.3);
      padding-top: 5%;
      display: flex;
      float: left;
      width: 55%;
      height: 90vh;
      min-height: 90vh;
      border-radius: 25px;
      overflow-y: auto;
      ul {
        list-style-type: none;
        margin: 0;
        li {
          list-style: none;
          display: flex;
          align-items: center;
          text-align: start;
          width: 56rem;
          height: 7rem;
          background: rgba($color: $baseHistoryBox, $alpha: 0.6);
          border-radius: 25px;
          margin: 2rem;
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
          transition: all ease 0.2s;
          a {
            margin: 2%;
            width: 80%;
            font-size: 22px;
            color: #000;
            text-decoration: unset;
          }
        }
        li:active {
          background: rgba($color: $basecolor, $alpha: 0.6);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
        }
        li:hover {
          cursor: pointer;
          transform: scale(1.1);
          box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
        }
        .active-chat {
          background: rgba($color: $baseChatBoxUser, $alpha: 0.6);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }

  .right {
    height: 90vh;
    display: flex;
    float: right;
    width: 45%;
    font-size: 25px;
    visibility: visible;
    transition: visibility 1s linear, transform 0.3s linear;
    .chatbox-frame {
      width: 90%;
      min-height: 90vh;
      border-radius: 25px;
      @import url("https://fonts.googleapis.com/css?family=Roboto");
      body {
        margin: 0;
        font-family: "Roboto";
      }
      .visible {
        opacity: 1;
      }
      .colorPanel {
        position: absolute;
        margin: 70px auto;
        left: 0;
        right: 0;
        height: 200px;
        width: 200px;
        z-index: 3;
        background: #fff;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        box-shadow: 0 0 30px #aaa;
        transition: all 0.12s;
      }
      .colorPanel__colorSlot {
        box-sizing: border-box;
        width: 33%;
        height: 33%;
        padding: 10px;
      }
      .colorPanel__color {
        height: 100%;
        width: 100%;
        border-radius: 100px;
        cursor: pointer;
        background: #eee;
        transition-duration: 0.12s;
      }
      .colorPanel__color:hover {
        opacity: 0.7;
      }
      .chatbox {
        display: block;
        position: relative;
        max-width: 540px;
        margin: 0 auto;
        padding: 10px;
        background: #fff;
        border-radius: 15px;
        box-shadow: 0 0 30px #eee;
        font-size: 17px;
        min-height: 100%;
      }
      .chatbox__header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        font-weight: 900;
        padding: 10px 0;
        width: 100%;
        text-align: center;
        cursor: default;
        justify-content: space-between;
        border-bottom: 2px solid #f5f5f5;
      }
      .chatbox__headerText {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
      }
      .chatbox__onlineDot {
        display: block;
        background: #00c853;
        height: 10px;
        width: 10px;
        border-radius: 10px;
        margin-left: 5px;
        animation-name: blinking;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
      }
      .chatbox__tooltip {
        opacity: 0;
        z-index: 2;
        width: auto;
        font-size: 12px;
        text-align: center;
        padding: 3px 10px;
        cursor: default;
        position: absolute;
        color: #fff;
        box-sizing: border-box;
        border-radius: 15px;
        background: #111;
        transition: all 0.14s;
      }
      .chatbox__tooltip--bottom {
        top: 115%;
        margin-left: 110px;
        opacity: 0.2;
      }
      .chatbox__tooltip--left {
        right: calc(100% + 5px);
        right: -moz-calc(100% + 5px);
        margin-left: 5px;
        top: 5px;
      }
      .chatbox__messages {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        height: 73rem;
        overflow-y: auto;
      }
      .chatbox__messageBox {
        width: 100%;
        margin-top: 5px;
        position: relative;
      }
      .chatbox__messageBox--primary {
        text-align: right;
      }
      .chatbox__message {
        position: relative;
        display: inline-block;
        padding: 5px 20px;
        border-radius: 15px;
        cursor: default;
        background: #f1f1f1;
        transition: all 0.12s;
      }
      .chatbox__message:hover {
        opacity: 0.7;
      }
      .chatbox__message:hover .chatbox__tooltip {
        opacity: 1;
      }
      .chatbox__message--primary {
        background-color: #3b5998;
        color: #fff;
      }
      .chatbox__inputPanel {
        width: 100%;
        position: absolute;
        width: 95%;
        bottom: 4%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .chatbox__input {
        font-family: "Roboto";
        font-size: 1em;
        width: 100%;
        border: none;
        background: #f3f3f3;
        margin: 0 10px;
        padding: 5px 15px;
        color: #444;
        border-radius: 15px;
        box-sizing: border-box;
      }
      .chatbox__button {
        display: inline-block;
        height: 20px;
        width: 22px;
        color: #fff;
        border-radius: 15px;
        background: #0084ff;
        cursor: pointer;
        font-weight: 900;
        transition-duration: 0.1s;
      }
      .chatbox__button:hover {
        opacity: 0.7;
      }
      @-moz-keyframes blinking {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0.3;
        }
        100% {
          opacity: 1;
        }
      }
      @-webkit-keyframes blinking {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0.3;
        }
        100% {
          opacity: 1;
        }
      }
      @-o-keyframes blinking {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0.3;
        }
        100% {
          opacity: 1;
        }
      }
      @keyframes blinking {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0.3;
        }
        100% {
          opacity: 1;
        }
      }
      @media screen and (max-width: 450px) {
        .chatbox {
          box-sizing: border-box;
          margin: 0;
          max-width: 100%;
          width: 100%;
          border-radius: 0;
          height: 100%;
        }
      }
    }
  }
}

.loader {
  .lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #000;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%,
    100% {
      top: 24px;
      height: 32px;
    }
  }
}
